#educacionFirstCard {
	width: 99vw;
	left: 0;
	border: 2px solid blueviolet;
    padding: 0;
}

@media only screen and (max-width: 319px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.text {
		text-align: center;
	}
}
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
	.text {
		text-align: center;
	}
}
@media only screen and (min-width: 2560px) {
	.text {
		text-align: center;
	}
}