/* 
.varText {
	display: contents;
	width: fit-content;
}

.logoInti {
	width: 2.5vw;
	height: auto;
}


@media (max-width: 320px) {
	#flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.varText {
		font-size: small;
	}

	.div .varBotton {
		display: contents;
		width: 68px;
	}
}

@media (max-width: 768px) {
	.varText {
		font-size: medium;
	}

	.div .varBotton {
		display: contents;
		width: 68px;
	}
} */