#flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 98.5vw;
}

.varText {
	display: contents;
	width: fit-content;
}

.logoInti {
	width: 5rem;
	height: 5rem;
}


@media (max-width: 320px) {
	#flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	.logoInti {
		width: 3rem;
		height: 3rem;
	}

	.varText {
		font-size: small;
	}

	.div .varBotton {
		display: contents;
		width: 68px;
	}
}

@media (max-width: 768px) {
	.logoInti {
		width: 3rem;
		height: auto;
	}

	.varText {
		font-size: medium;
	}

	.div .varBotton {
		display: contents;
		width: 68px;
	}
}