<!-- <nav class="navbar d-flex container-fluid box1">
    <div class="d-flex container-fluid aling-items-center">
    <div class="justify-content-start aling-content-center">
    <img src="./assets/LogoAmazingEvents.png" alt="Logo" class="logo1">
    </div>
    <div class="justify-content-end">
    <a id="op" class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"	data-bs-placement="bottom" title="Go to Home Page..." href="./index.html">Home</a>
    <a id="op" class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"	data-bs-placement="bottom" title="Go to Upcoming Events Page..." href="./upcomingEvents.html">Upcoming Events</a>
    <a id="op" class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to Past Events Page..." href="./pastEvents.html">Past Events</a>
    <a id="op" class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to Contact Us Page..." href="./contact.html">Contact</a>
    <a id="op" class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to Stats Page..." href="./stats.html">Stats</a>
    </div>
    </div>
    </nav>
 -->
<nav class="navbar">
    <div class="d-flex container-fluid justify-content-between">
        <div class="d-flex container-fluid align-items-center justify-content-center">
            <div class="justify-content-center aling-content-center border">
                <a href="https://argentinaprograma.inti.gov.ar" target="_blank"
                    class="navbar-brand btn me-2" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to Argentina Programa...">
                    <img class="logoInti"
                        src="../../../assets/media/APLogo.png" alt="INTI...">
                </a><!-- "https://drive.google.com/uc?download&id=1YpESKuvXAUsP1TcJ-laFQlsmOKAf8VkP" -->
            </div>
        </div>
        <div class="varText cheAdjust shadow"><p class="text">Proyecto Integrador</p></div>
        <div class="d-flex flex-row no-wrap justify-content-between border">
                <div class="border">
                    <a href="https://github.com/HCanestraro"  target="_blank"
                    class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to GitHub...">
                        <img class="logos" src="https://drive.google.com/uc?export=download&id=1YFszfvj_-afq1bH9tsXXF8zrDOQvHxo-
                    " alt="Picture...">
                    </a>
                </div>
                <div class="border">
                    <a href="https://instagram.com/@canestraro-che"  target="_blank"
                    class="navbar-brand" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to Instagram...">
                        <img class="logos" src="https://drive.google.com/uc?export=download&id=13jp0SW_F2WCL5qAiRhDlZWXHoUMlN2gR
                    " alt="Picture...">
                    </a>
                </div>
                <div class="border">
                    <a href="https://www.twitter.com/@canestraro-che" target="_blank"
                    class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to X (ex-Twitter)...">
                        <img class="logos" src="https://drive.google.com/uc?export=download&id=1BXwyUpUm_AnXnh4-xIIUv8gdvYOU0quV
                    " alt="Picture...">
                    </a>
                </div>
                <div class="border">
                    <a href="https://ar.linkedin.com/in/hernan-canestraro-44448435"  target="_blank"
                    class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to GitHub...">
                        <img class="logos" src="https://drive.google.com/uc?export=download&id=1tDmdALAhhy9kS6edRWUqDgt4QJUuXaMd
                    " alt="Picture...">
                    </a>
                </div>
                <div class="border">
                    <a href="https://sites.google.com/view/HCanestraro"  target="_blank"
                    class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to GitHub...">
                        <img class="logos" src="https://drive.google.com/uc?export=download&id=1NuIu3CYzCAZ_F34TH6zXTdHo1-BiP-GP
                    " alt="Picture...">
                    </a>
                </div>
                <div class="border">
                    <a href="https://www.youtube.com/@HCanestraro"  target="_blank"
                    class="navbar-brand btn btn-outline-success me-2" role="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Go to GitHub..."><span>
                        <img class="logos" src="https://drive.google.com/uc?export=download&id=1Fi4F7MzyrKIAIkK3bdNSeZ3oNjb5ly11
                    " alt="Picture..."></span>
                    </a>
                </div>
        </div>
        <div class="d-flex container-fluid align-items-center justify-content-center">
            <div *ngIf="portfolioActive===true">
                <!-- <div *ngIf="usuarioLogueado"> -->
                <!-- <p>{{userAlias}}</p>
                    <img *ngIf="imagenPerfil | async" [src]="imagenPerfil | async" alt="Imagen de perfil" class="logos"> -->
                <button (click)="logout()" class=" btn btn-dark rounded  btn-md w-100 text-white fw-bold shadow-lg"
                    routerLink="/login">TERMINAR
                    EDICIÓN</button>
                <!-- </div> -->
            </div>
            <div *ngIf="portfolioActive===false">
                <button class="btn btn-info border border-info text-white fw-bold fw-bold shadow ms-3"
                    routerLink="/register">Registrarse</button>
                <button class="btn btn-info text-white fw-bold shadow-lg" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</nav>