<div class="card mat-card">
	<h1 class="align-items-center text-center shadow">Experiencia</h1>
	<ul>
		<li *ngFor="let miP of miPortfolio ">
			<div id="experiencialist" class="border m-3 p-2">
				<!-- <div class="d-flex container-fluid row ma-3 align-items-center"> -->
				<!-- <div class="d-flex flex-row-reverse"> -->
				<div class="flex-container">
					<div class="row flex-row-reverse">
						<div class="p-2 border">
							<a href="#" class="btn btn-primary"><img class="logos"
									src="../../../assets/media/logoPencil.png"></a>
						</div>
						<div class="p-2 border">
							<a href="#" class="btn btn-primary"><img class="logos"
									src="../../../assets/media/logoDelete.png"></a>
						</div>
					</div>
						<!--<div class="flex-container">
					  	<div class="row">
    						<div class="column" style="flex: 35%;">Columna 1 (35%)</div>
    						<div class="column" style="flex: 65%;">Columna 2 (65%)</div>
  						</div>
						</div>

						 <div class="d-flex col align-items-center justify-content-center -webkit-fill-available"> -->
						<!-- <div class="d-flex"> -->
						<!-- <div class="flex-shrink-0 border justify-content-center align-items-center w-30"> -->
						<div class="column" style="flex: 35%;">
							<img [src]="miP.imagen" alt="" class="border m-2">
						</div>
						<!-- <div class="col p-2 m-2 border flex-grow-1"> -->
						<!-- <div class="flex-grow-1 ms-3 border m-1"> -->
						<div class="column" style="flex: 65%;">
							<p><b>Ubicacion:</b> {{miP.ubicacion}}</p>
							<p><b>Puesto:</b> {{miP.puesto}}</p>
							<p><b>Periodo:</b>{{miP.periodo}}</p>
							<p><b>Empresa:</b>{{miP.empresa}}</p>
							<p><b>Actividades: </b>{{miP.actividades}}</p>
						</div>
					</div>
				</div>
		</li>
	</ul>
</div>