.mat-card {
	border-radius: 32px;
	margin: 5px 5px;
	padding: 0;
	border: 3px solid blue;
}


/* @media only screen and (max-width: 319px) {}
@media only screen and (min-width: 320px) and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 1023px) {}
 */@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	body {
		font-size: larger;
	}

	.text {
		text-align: center;
	}
}