<div id="experienciaFirstCard">
	<div class="cHeader">
		<div class="cTitle column justify-content-start">
			<h1>Experiencia</h1>
		</div>
		<div class="cAdd"><!-- class="column justify-content-end" -->
			<button class="btn-agregar">
				<span><img src="../../../assets/media/logoAdd.png" alt="Agregar experiencia..."
						class="logos mt-1 bg-blue rounded-circle">AGREGAR EXPERIENCIA</span>
			</button>
		</div>
	</div>
	<ul>
		<li *ngFor="let miP of miPortfolio ">
			<div class="cCard row box1">
				<div class="d-flex justify-content-end border">
					<div class="p-1">
						<button class="btn p-0 m-1" data-bs-toggle="tooltip" title="
							Editar experiencia..."><span><img class="logos" src="../../../assets/media/logoPencil.png"></span>
						</button>
					</div>
					<div class="p-1">
						<button class="btn p-0 m-1" data-bs-toggle="tooltip" title="
							Eliminar experiencia..."><span><img class="logos" src="../../../assets/media/logoDelete.png"></span></button>
					</div>
				</div>
				<div class="column" style="width: 25%; margin-bottom: 10px;">
					<img [src]="miP.imagen" alt="" id="imgExperiencia">
				</div>
				<div class="column" style="width: 75%;">
					<p><b>Ubicacion:</b> {{miP.ubicacion}}</p>
					<p><b>Puesto:</b> {{miP.puesto}}</p>
					<p><b>Periodo:</b>{{miP.periodo}}</p>
					<p><b>Empresa:</b>{{miP.empresa}}</p>
					<p><b>Actividades: </b>{{miP.actividades}}</p>
				</div>
			</div>
		</li>
	</ul>
</div>