<div id="softSkillsFirstCard">
	<h1 class="align-items-center text-center shadow">Hard & SoftSkills</h1>
	<button class="btn-agregar">
		<span><img src="../../../assets/media/logoAdd.png" alt="Agregar Educación..."
				class="logos mt-1 bg-blue rounded-circle">AGREGAR SOFTSKILLS</span>
	</button>
	<ul>
		<li *ngFor="let miP of miPortfolio " onclick="selectItem(miP);">
			<div class="row box1">
				<div class="d-flex justify-content-end border">
					<div class="p-1">
						<button class="btn p-0 m-1"><span><img class="logos"
									src="../../../assets/media/logoPencil.png"></span>
						</button>
					</div>
					<div class="p-1">
						<button class="btn p-0 m-1"><span><img class="logos"
									src="../../../assets/media/logoDelete.png"></span></button>
					</div>
				</div>

				<div class="column" style="width: 25%;">
					<img [src]="miP.imagen" alt="" id="imgSoftSkills">
				</div>
				<div class="column" style="width: 75%;">
					<p> <b> Nombre:</b> {{miP.nombre}}</p>
					<p> <b> Nivel:</b>{{miP.nivel}}</p>
				</div>
			</div>
		</li>
	</ul>
</div>