.flex-container {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Ajusta la altura como desees */
  }
  
  .row {
	display: flex;
	width: 100%;
  }
  
  .column {
	border: 1px solid #ccc; /* Borde para resaltar las columnas */
	padding: 10px;
	text-align: center;
  }
  
.cheAdjust {
	width: fit-content;
	align-items: center;
	justify-items: center;
	justify-content: center;
}