<div class="card mat-card" id="first-card">
	<div id="profile-background">
		<img src="./../../../assets/media/bg-ap.jpg" alt="" id="profile-image">
	</div>
	<div id="info" style="padding: 16px;">
		<div id="info-img">
			<img src="./../../../assets/media/chedata1foto.png" alt="" class="profile-image">
			<div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
		</div>
		<div id="info-data">
			<div>
				<h1>Hernan Canestraro</h1>
				<div id="info-company">
					Informático freelance
				</div>
				<div id="info-contact">
					<span>Buenos Aires (Argentina) </span>
					<span><a href="#">Información de contacto</a></span>
				</div>
			</div>
			<ul id="info-details">
				<li><a href="#">
					<img src="../../../assets/media/cheinti.png" alt="">
					<h2>I.N.T.I.</h2>
				</a></li>
				<li><a href="#">
					<img src="../../../assets/media/chemindhub.png" alt="">
					<h2>Argentina Programa - MINDHUB</h2>
				</a></li>
			</ul>
		</div>
		<div id="info-actions">
			<button class="btn btn-primary" type="button">Tengo interés en</button>
			<button class="btn btn-light" type="button">Añadir sección</button>
			<button class="btn btn-light" type="button">Más</button>
		</div>
	</div>
</div>