* {
	box-sizing: border-box;
	--bg-color-card:gray;
}

div #footerFirstCard #educacionFirstCard, #experienciaFirstCard, #skillFirstCard, #softSkillsFirstCard {
	width: 98vw;
	margin-top: 10px;
	padding: 0;
}

.logos {
	width: 1.5rem;
	height: auto;
}

.imgSoftSkill .imgSkill .imgProyecto .imgExperiencia .imgEducacion {
	width: 15vw;
	height: 15vw;
}

.box1 {
	border: 2px solid #000;
}

body {
	background-color: grey;
}

li {
	list-style: none;
}
i {
	padding: 5px;
}

#nav-title {
	padding: 10px;
	font-weight: 600;
}

.mat-card {
	border-radius: 10px;
	margin: 10px 10px;
	padding: 0;
	width: 100%;
}
@font-face {
	font-family: 'Poppins';
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

.chelogo {
	height: 32px;
	width: 32px;
	margin: 0;
}

.cheimg {
	height: 280px;
	width: 280px;
	position: absolute;
}

.chebox {
	height: auto;
	width: auto;
	border: 3px solid blue;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header {
	display: flex;
	width: 100%;
	height: 70px;
	border: 2px solid black;
}

.logo1 {
	position: relative;
	top: -1px;
	left: -8px;
	width: 85px;
	height: max-content;
	border: 1px solid black;
	background-color: #000;
	padding: 1px 1px;
}

input#exampleInputName1 {
	width: 325px;
}

#btnSubmit {
	margin-left: 225px;
}

.table,
.td {
	table-layout: auto;
	width: 100%;
}

.btnpages {
	width: 40px;
	height: 40px;
}

.btnSearch {
	width: 20px;
	height: 20px;
	background-color: chartreuse;
}


/* ------------------------------------------------- */
.imgCard {
	padding: 5px 5px 5px 5px;
	width: 230px;
	height: 140px;
}

.card {
	width: 14rem;
	height: 27rem;
	margin: 5px 8px;
	padding: 3px 3px;
	border: 1px solid #000;
}

.card-body {
	text-align: center;
	justify-content: center;
}

.card-title {
	text-align: center;
	margin: 2px 2px;
}

.card-subtitle {
	text-align: center;
	margin: 2px 2px;
}

.card-img-top {
		border: 1px solid black;
		width: 13rem;
		height: 10rem;
		box-shadow: darkslategrey;
		margin: 5px 7px;
	}
.card-footer {
	font-size: small;
	/* width: 5rem; */
	height: 45px;
	justify-content: space-between;
	align-items: center;
}

.cards{
    padding: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

	.fsearch {
	flex-direction: row;
	width: auto;
	justify-content: end;
	margin-left: 200px;
}

.d-flex {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}


.footer {
	position: relative;
	bottom: 0;
	left: 0;
	font-size: 18px;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: chocolate;
	color: chartreuse;
	width: 98.5vw; 
	/* height: 100px; */
	justify-content: center;
	align-items: center;
}


.event__card {
	width: 43.75rem;
	height: 17em;
	background-color: var(--bg-color-card);
  }

  .formulario{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formulario_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
	font-size: small;
}
.formulario_1 div{
    margin: 10px;
}

/* ---------------------------------- */
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.centrado > button{
    margin-top: 1%;
}
.detalle_evento{
    border: 1px solid gray;
    padding: 3%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    max-width: 40%;
    min-width: 278px;
    height: 75%;
}
.contenido_stats{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    min-height: 446px;
    height:fit-content;
    width: 278px;
    display: flex;
    flex-direction: column;
}
.card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.precio_tarjeta>button>a{
    color: white;
}

.emptySearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cheAdjust {
	width: fit-content;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

@media only screen and (max-width: 319px) {
	.imgSoftSkills .imgSkill .imgProyecto .imgExperiencia .imgEducacion 
	{
		width: 150px;
		height: 50px;
	}
	p {
		font-size: xx-small;
	}

	.footer {
		padding: 5px;
		border: 3px solid red;
		margin-top: 35px;
		display: flex;
		position: initial;
		font-size: xx-small;
		font-family: Arial;
		bottom: 0;
		left: 0;
		background-color: black;
		color: chartreuse;
		width: 89.5vw;
		height: auto;
	}

}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.imgSoftSkills .imgSkill .imgProyecto .imgExperiencia .imgEducacion 
	{
		width: 150px;
		height: 100px;
		size-adjust: 100%;
		max-width:max-content;
	}
p {
	font-size: 2vw;
}

	.fsearch {
		flex-direction: row;
		width: 12rem;
		justify-content: end;
		margin-left: 100px;
	}

	.logo1 {
		position: relative;
		top: -1px;
		left: -8px;
		width: 85px;
		height: max-content;
		border: 1px solid black;
		background-color: #000;
		padding: 1px 1px;
	}


	input#exampleInputName1 {
		width: 100px;
	}

	#btnSubmit {
		margin-left: 225px;
	}

	.table,
	.td {
		table-layout: auto;
		width: 100%;
	}

	footer {
		display: flex;
		position: initial;
		font-size: 18px;
		background-color: black;
		font-family: Arial, Helvetica, sans-serif;
		bottom: 0;
		left: 0;
		background-color: black;
		color: chartreuse;
		width: 98.5vw;
		height: 100px;
	}

	.logos {
		width: 0.5vw;
		height: 0.5vw;
		justify-content: space-between;
		margin-left: 5px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	img .imgSoftSkills .imgSkill .imgProyecto .imgExperiencia .imgEducacion 
	{
		width: 150px;
		height: 200px;
		max-width: max-content;
	}
	p {
		font-size: 2vw;
	}

	.logo1 {
		position: relative;
		top: -1px;
		left: -8px;
		width: 85px;
		height: max-content;
		border: 1px solid black;
		background-color: #000;
		padding: 1px 1px;
	}

	input#exampleInputName1 {
		width: 520px;
	}

	#btnSubmit {
		margin-left: 655px;
	}

	.table,
	.td {
		table-layout: auto;
		width: 100%;
	}


	footer {
		display: flex;
		position: initial;
		font-size: 1.3vw;
		font-family: Arial;
		bottom: 0;
		left: 0;
		background-color: black;
		color: chartreuse;
		width: 98.5vw;
		height: 100px;
	}
	.logos {
		width: 2vw;
		height: auto;
		justify-content: space-between;
		margin-left: 5px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	img .imgSoftSkills .imgSkill .imgProyecto .imgExperiencia .imgEducacion 
	{
		width: 150px;
		height: 150px;
	}
	p {
		font-size: 2vw;
	}
	body {
		font-size: larger;
	}

	.logo1 {
		position: relative;
		top: -1px;
		left: -8px;
		width: 85px;
		height: max-content;
		border: 1px solid black;
		background-color: #000;
		padding: 1px 1px;
	}

	input#exampleInputName1 {
		width: 300px;
	}

	#btnSubmit {
		margin-left: 900px;
	}

	.table,
	.td {
		table-layout: auto;
		width: 100%;
	}

	footer {
		display: flex;
		position:initial;
		font-size: 45px;
		font-family: Arial;
		bottom: 0;
		left: 0;
		background-color: black;
		color: chartreuse;
		width: 98.5vw;
		height: 100px;
	}

	.logos {
		width: 2.5vw;
		height: auto;
		justify-content: space-between;
		margin-left: 5px;
	}
}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
	.imgSoftSkills .imgSkill .imgProyecto .imgExperiencia .imgEducacion 
	{
		width: 150px;
		height: auto;
	}
	p {
		font-size: 2vw;
	}
	.logo1 {
		position: relative;
		top: -1px;
		left: -8px;
		width: 85px;
		height: max-content;
		border: 1px solid black;
		background-color: #000;
		padding: 1px 1px;
	}

	input#exampleInputName1 {
		width: 300px;
	}

	#btnSubmit {
		margin-left: 225px;
	}

	footer {
		/* display: flex; */
		position: initial;
		font-size: 55px;
		font-family: Arial;
		bottom: 0;
		left: 0;
		background-color: black;
		color: chartreuse;
		width: 98.5vw;
		height: 200px;
	}

	.logos {
		width: 3.5vw;
		height: auto;
		justify-content: space-between;
		margin-left: 5px;
	}
}

@media only screen and (min-width: 2560px) {
p{
	font-size: 2vw;
}
	.logo1 {
		position: relative;
		top: -1px;
		left: -8px;
		width: 85px;
		height: max-content;
		border: 1px solid black;
		background-color: #000;
		padding: 1px 1px;
	}

	input#exampleInputName1 {
		width: 300px;
	}

	#btnSubmit {
		margin-left: 225px;
	}

	footer {
		/* display: flex; */
		position: absolute;
		font-size: 25px;
		font-family: Arial;
		bottom: 0;
		left: 0;
		background-color: black;
		color: chartreuse;
		width: 98.5vw;
		height: 200px;
	}


	.logos {
		width: 3.5vw;
		height: auto;
		justify-content: space-between;
		margin-left: 5px;
	}
}
